/* main.css */

/* Make the entire page a flex container */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Let main grow to take up leftover space */
main {
  flex: 1;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header, footer {
  background: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

nav a {
  margin: 0 2.75px;
  color: white;
  text-decoration: none;
  transition: background 0.5s;
  border-radius: 5px;
  background: #0056b3;
  padding: 2px 8px;
}

nav a:hover {
  background: #007BFF; 
}

main {
  display: flex;
  padding: 1em;
}

section {
  flex: 3;
  padding: 1em;
  background: #f4f4f4;
  order: 1;
}

section.b2 {
    flex: 5;
    padding: 1em;
    background: #f3f3b4f4;
    order: -5;
}

aside.a1 {
  flex: 1;
  padding: 1em;
  background: #ddd;
  order: 1;
}

aside.a2 {
  flex: 0;
  padding: 1em;
  background: #bfbfbf;
  order: -1;
}
aside.a3 {
  flex: 1;
  padding: 1em;
  background: #cccccc;
  order: 0
}


body, .page {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1;
}

#bottom-image {
  width: 200px; /* adjust as needed */
  align-self: center;
}
